*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body,main,article{
    height: 100%;
}
body{
    height: 100%;
    background-color: #fbfaf8;
    width: 100%;
    overflow-x: hidden;
    position:relative;
}
main{
    height: 500px;
}
main,article{
    width: 98%;
    margin: 0 auto;
    position: relative;
}
#article{
    height: 100px;
}
header{
    height: 6em;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    margin-bottom: 3em;
    z-index: 1;
    width: 100%;
}
#idScript{
    position: absolute;
    top: 20%;
}
h1{
    text-align: center;
    background-color: #AFBACC;
    color: #516D99;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #333;
}
h2{
    text-align: center;
    background-color: #CCB3AF;
    color: #516D99;
    line-height: 1.25em;
    text-shadow: 2px 2px 2px white;
}
article h3{
    text-align: center;
    color: #516D99;
    margin: 0 auto;
    padding-bottom: 3rem;
    text-shadow: 2px 2px 2px #333;
    text-decoration: #FFC9B5 underline;
    text-underline-offset: 0.5em;
}
hr {
    background-color: transparent;
    margin-bottom: 4px!important;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top: 3px solid #FFC9B5;
    height: 1px;
    line-height: 19px;
    margin-bottom: 14px;
    margin-top: 15px;
    width: 30%;
}

ul{
    display: inline-block;
    list-style: none;
    text-align: center;
    position:absolute;
    vertical-align: middle;
    width: 98%;
    margin: 0 1%;
}
ul > li{
    margin: 0 auto;
    margin-bottom: 1em;
    min-width: 16rem;
    padding-left: 3rem;
    font-size: 1.6rem;
    float: left;
    margin: 0 auto;
}
hr{
    width: 90%;
}
ul li a{
    text-decoration: none;
    list-style: none;
    color: #516D99;
    font-weight: 700;
}
ol{
    list-style: none;
}
ol li a{
    color: #CCB3AF;
    font-size: 1.3rem;
}
#github,#linkedin,#curriculum{
    text-decoration: none;
}
#github:before{
    font-family: 'Fontawesome';
    content:'\f09b';
    background-color:#FFC9B5;
    font-size: 2em;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#linkedin:before{
    color: #FFC9B5;
    font-family: 'FontaWesome';
    content: '\f08c';
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#curriculum:before{
    color: #FFC9B5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#linkedin{
    color: #FFC9B5;
}
#curriculum span{
    color: #FFC9B5;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 0.75em;
}
#github,#linkedin{
    padding-left: 2em;
    padding-top: 10px;
}
footer p{
    padding-top: 15px;
}
footer{
    height: 50px;
    position:fixed;
    display: flex;
    float: left;
    bottom: 0;
    width: 100%;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #516D99;
    z-index: 2;
    justify-content: center;
    color:#F5FEFF;
    background: rgb(2,0,40);
    background: linear-gradient(90deg, rgba(2,0,40,1) 0%, rgba(81,109,153,1) 100%, rgba(251,250,248,1) 100%);
}
#enlacePrincipal{
    color: #fbfaf8;
    margin-left: 2em;
    margin-top: 1em;
}
#enlaceSecundario{
    color: #fbfaf8;
    margin-top: 1em;
    background-color: inherit;
}
#enlaceSecundario{
    margin-left: 2em;
}